body {
    font-family: "Times New Roman";
    color: rgb(27, 39, 51);;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

h1 {
    font-weight: 400;
    font-size: 4rem;
    padding: 10px;
    margin: 0;
}

a {
    color: rgb(0, 112, 224);
    font-size: 1.5rem;
    padding: 2px;
}